{% extends "layouts/main.html" %}

{% block pageTitle %}
Changes to product details – Manage pesticide product authorisations – GOV.UK 
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Changes to product details</h1>
      <p>Confirm whether the new product will be different to the parent product in any of the following areas.</p>


      <div class="govuk-inset-text">
        <p>Parent details: [Product details]</p>
        <!--<p>Product description: [Product description]</p>
        <p>Product numbers: [Product numbers]</p>-->
      </div>

      <form class="form" method="post">
        {{ govukRadios({
          id: "applicationDiffProduct",
          name: "applicationDiffProduct",
          fieldset: {
            legend: {
              text: "Will the product trade name be different for the new product?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },   
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          id: "applicationDiffAuthHolder",
          name: "applicationDiffAuthHolder",
          fieldset: {
            legend: {
              text: "Will the authorisation holder be different for the new product?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },   
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          id: "applicationDiffMarketing",
          name: "applicationDiffMarketing",
          fieldset: {
            legend: {
              text: "Will the marketing company be different for the new product?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },   
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          id: "applicationDiffPackaging",
          name: "applicationDiffPackaging",
          fieldset: {
            legend: {
              text: "Will the product packaging be different for the new product?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: "<p>You can only change pack sizes within the existing range. To make any other packaging changes, start an application for a new product authorisation requiring full technical assessment</p>"
              }
            },   
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}



        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}