{% extends "layouts/main.html" %}

{% set pageName="Version 0" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Biocides and pesticides transformation programme</span>
      Version 1
    </h1>

    

    <h2 class="govuk-heading-m">CRD Change journeys</h2>
    <p class="govuk-body"><a href="../crd1-label/latest/existing-job-number">CRD1 - label</a></p>
    <p class="govuk-body"><a href="../crd1-packaging/latest/existing-job-number">CRD1 - packaging</a></p>
    <p class="govuk-body"><a href="../crd1-claim-label/latest/existing-job-number">CRD1 - claim label</a></p>
    <p class="govuk-body"><a href="../crd1-formula/latest/existing-job-number">CRD1 - formula</a></p>
    <p class="govuk-body"><a href="../crd1-data/latest/existing-job-number">CRD1 - data</a></p>
    <p class="govuk-body"><a href="../crd1-active/latest/existing-job-number">CRD1 - active</a></p>
    <p class="govuk-body"><a href="../crd1-administrative/latest/existing-job-number">CRD1 - administrative</a></p>
    <p class="govuk-body"><a href="../crd1-use/latest/existing-job-number">CRD1 - use</a> - NOT USED</p>
    <p class="govuk-body"><a href="../crd1-mrl/latest/existing-job-number">CRD1 - mrl</a> - USING/NOT-USING???</p>
    
    <h2 class="govuk-heading-m">User Research</h2>
    <p class="govuk-body">Week commencing: 20/01/24</p>

    
  </div>
</div>

{% endblock %}
