{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the application method of the product? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application</span> #}

      <h1 class="govuk-heading-l">
        What is the application method of the product?
      </h1>

      <p class="govuk-hint">Only select the methods that most growers would typically use for the proposed crop</p>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "proposedUseCropSituation",
        id: "proposedUseCropSituation",
        fieldset: {
          legend: {
            text: "Horizontal boom sprayer",
            classes: "govuk-fieldset__legendX--l"
          }
        },
        items: [
          {
            value: "Protected/PPFE",
            text: "Protected/PPFE",
            hint: {text: ""}
          },
          {
            value: "Outdoor",
            text: "Outdoor",
            hint: {text:""}
          }
        ]
      }) }}
      {{ govukCheckboxes({
        name: "proposedUseCropSituation",
        id: "proposedUseCropSituation",
        fieldset: {
          legend: {
            text: "Broadcast sprayer with air assistance",
            classes: "govuk-fieldset__legendX--l"
          }
        },
        items: [
          {
            value: "Protected/PPFE",
            text: "Protected/PPFE",
            hint: {text: ""}
          },
          {
            value: "Outdoor",
            text: "Outdoor",
            hint: {text:""}
          }
        ]
      }) }}

    
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
