{% extends "layouts/main.html" %}

{% block pageTitle %}
What should be the time interval between applications? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application</span> #}

      <h1 class="govuk-heading-l">
        What should be the time interval between applications of the product?
      </h1>


{% from "govuk/components/input/macro.njk" import govukInput %}
{{ govukInput({
  classes:"govuk-input--width-10",
  suffix: {text: "days"},
  label: {
    text: "Interval between applications",
    classes: "govuk-label?--l",
    isPageHeading: true
  },
  hint: {
    text: ""
  },
  id: "proposedUseIntervals",
  name: "proposedUseIntervals"
}) }}

{# {{ govukInput({
  label: {
    text: "Company product code",
    classes: "govuk-label?--l",
    isPageHeading: true
  },
  hint: {
    text: ""
  },
  id: "productCode",
  name: "productCode"
}) }} #}

    
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
