{% extends "layouts/main.html" %}

{% block pageTitle %}
Contact us – Manage building control for a higher-risk building – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      <h1 class="govuk-heading-xl">Contact us</h1>

      <h2 class="govuk-heading-m">Reporting Plant Protection Product (PPP) Incidents</h2>
      <p>Reports of PPP incidents should be made to the relevant authority. <br>See <a href="https://www.hse.gov.uk/pesticides/enforcement/reporting-incidents.htm">Reporting incidents</a>.</p>

      <h2 class="govuk-heading-m">Enquiries from Journalists and the Media</h2>
      <h3 class="govuk-heading-s">Telephone</h3>
      <p>Journalists should contact HSE's Press Office: </p>
      <ul class="govuk-list">
        <li>0151 922 1221</li>
      </ul>

      <h3 class="govuk-heading-s">Email</h3>
<ul class="govuk-list">
  <li><a class="govuk-link" href="#">media.enquiries@hse.gov.uk</a></li>
  <li></li>
</ul>


<h2 class="govuk-heading-m">Enquiries from the General Public</h2>
<p>Enquiries from the general public in relation to PPP and detergents are handled by the Defra Helpline</p>
      <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>Defra Helpline: Telephone Number: 03459 33 55 77</li>
        <li>International: +44 20 7238 6951</li>
        <li>Monday - Friday 8:30am - 5pm</li>
      </ul>

      <h3 class="govuk-heading-s">Address</h3>
      
      <ul class="govuk-list">
        <li>Defra</li>
        <li>Nobel House</li>
        <li>17 Smith Square</li>
        <li>London</li>
        <li>SW1P 3JR</li>
      </ul>

      <h2 class="govuk-heading-m">Enquiries from Applicants/Industry</h2>
      <p>General enquiries from applicants in relation to plant protection products and detergents are handled by HSE.</p>

      <h3 class="govuk-heading-s">Email</h3>
      
      <ul class="govuk-list">
        <li><a href="#">PPPenquiries@hse.gov.uk</a></li>
      </ul>
     
      <h3 class="govuk-heading-s">Address</h3>
      
      <ul class="govuk-list">
        <li>CRD Information Management</li>
        <li>Health and Safety Executive </li>
        <li>Chemicals Regulation Division</li>
        <li>Room 1A Mallard House</li>
        <li>Kings Pool</li>
        <li>3 Peasholme Green</li>
        <li>York</li>
        <li>YO1 7PX</li>
      </ul>

      <h2 class="govuk-heading-m">Other Contact Points: Applications Sift, Requests for Pre-Submission Meetings, Requests to consider Experimental Protocols, Requests for Certificates of Freesale</h2>
      <p>Completed applications, requests for pre-submission meetings or requests to consider experimental protocols should be submitted to the following address:</p>

      <h3 class="govuk-heading-s">Email</h3>
      
      <ul class="govuk-list">
        <li><a href="#">PPPapplications@hse.gov.uk</a></li>
      </ul>
     
      <h3 class="govuk-heading-s">Address</h3>
      
      <ul class="govuk-list">
        <li>Applications Sift</li>
        <li>Health and Safety Executive </li>
        <li>Chemicals Regulation Division</li>
        <li>Room 1A Mallard House</li>
        <li>Kings Pool</li>
        <li>3 Peasholme Green</li>
        <li>York</li>
        <li>YO1 7PX</li>
      </ul>

      <p>You should be aware that any electronic communications with HSE may be monitored, recorded and retained for lawful purposes.</p>

      <h2 class="govuk-heading-m">Further information</h2>
      <p>
        <a href="https://food.ec.europa.eu/plants/pesticides/legislation-plant-protection-products-ppps_en">European Commission website: Legislation on Plant Protection Products</a><br>
        For any enquiries relating to the EU legislation, please visit the European Commission website above</p>
        
        <p>
        <a href="https://food.ec.europa.eu/plants/pesticides_en">EU Member States Competent Authorities for PPPs</a><br>
        
        Should your enquiry relate to a non-GB/NI product authorisation, please contact the relevant competent authority in the Member State concerned</p>

        <p><a href="https://www.hse.gov.uk/biocides/contact.htm">Biocide queries contact details</a></p>
        <p><a href="https://www.hse.gov.uk/reach/contact.htm">Registration, Evaluation, Authorisation & Restriction of Chemicals (REACH) contact details</a></p>

      {# <h2 class="govuk-heading-m">Get help with your application</h2>
<h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">If you have a unique reference number, have it with you when you call.</p>
<ul class="govuk-list">
  <li>Telephone: 000 0000 0000</li>
  <li>Textphone: 000 0000 0000</li>
  <li>Monday to Friday, 8am to 6pm</li>
  <li>Saturday and Sunday, 10am to 4pm</li>
  <li class="govuk-!-margin-top-5">Welsh language: 000 0000 0000</li>
  <li>Monday to Friday, 8:30am to 5pm</li>
</ul>
<p class="govuk-body">
  <a class="govuk-link" href="#">Find out about call charges</a>
</p>
<h3 class="govuk-heading-s">Email</h3>
<ul class="govuk-list">
  <li><a class="govuk-link" href="#">name@example.com</a></li>
  <li>We aim to respond within 2 working days</li>
</ul> #}
{# <h3 class="govuk-heading-s">Webchat</h3>
<ul class="govuk-list">
  <li><a class="govuk-link" href="#">Speak to an adviser now</a></li>
  <li>Current waiting time is 17 minutes</li>
</ul> #}
{# <h3 class="govuk-heading-s">Address</h3>
<p class="govuk-body">
  49 to 53 Cherry Street<br>
  London<br>
  AB1 2DC
</p>
<h3 class="govuk-heading-s">Social media</h3>
<p class="govuk-body">You can use Twitter to get general help. We cannot discuss specific cases or individual applications, so please do not give any personal details.</p>
<p class="govuk-body">
  Twitter: @GOVUK
</p> #}
    </form>
  </div>
</div>
{% endblock %}