{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
​
{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
​
{% block content %}
​
<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>
​
<p>
    <strong>From:</strong> enquiries@hse.gov.uk
  <br>
    <strong>To:</strong>
    {{ data['email'] }}
    <br>
    <strong>Subject:</strong>
    Application issue
</p>
​
{% from "govuk/components/header/macro.njk" import govukHeader %}
  {{ govukHeader({
  homepageUrl: "#"
}) }}
​
<div class="govuk-!-padding-bottom-5"></div>
​
<h1 class="govuk-heading-l">Application issue</h1>
​
<p>Dear [Applicant firstname lastname],</p>
​
<p>You're application for authorisation of a new plant protection product requires your attention.</p>

<div class="govuk-inset-text">
  Your application reference is <strong>[XXXXXXXXX]</strong>.
</div>
​
<h2 class="govuk-heading-m">What happens next</h2>
​
<p>You will need to contact us to discuss your application.</p>
​
<p>If we do not hear from you after [x days] working days, we will close the application.</p>
​
<p>[contact details]</p>
​​
<p>[sign off]</p>
​
<p class="govuk-body-s">From: the Health and Safety Executive at the Chemicals Regulation Division</p>
​
<p class="govuk-body-s">Do not reply to this email. It’s an automatic message from an unmonitored account</p>
​
{% endblock %}