{% extends "layouts/main.html" %}

{% block pageTitle %}
Product dosage  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <h1 class="govuk-heading-l">Seed treatment application</p>

        <h2 class="govuk-heading-m">Describe the application method for treating seeds</h2>

        {{ govukInput({
        label: {
          text: ' Enter description'
        },
        classes: "govuk-input--width-20",
        id: "gapSeedTreatmentDesc",
        name: "gapSeedTreatmentDesc",
        autocomplete: "gapSeedTreatmentDesc"
        }) }}

        <h2 class="govuk-heading-m">Amount of product per hectare</h2>

        {{ govukInput({
        label: {
          text: ' Enter value'
        },
        classes: "govuk-input--width-20",
        id: "gapSeedTreatmentProductPerHectare",
        name: "gapSeedTreatmentProductPerHectare",
        autocomplete: "gapSeedTreatmentProductPerHectare"
        }) }}

        {{ govukRadios({
        id: "gapSeedTreatmentProductPerHectareUnit",
        name: "gapSeedTreatmentProductPerHectareUnit",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select a unit: "
        },
        items: [
          {
            value: "kilograms (kg)  ",
            text: "kilograms (kg)  "

          },   
          {
            value: "litres (l)  ",
            text: "litres (l)  "
          }
        ]
        }) }}

        <h2 class="govuk-heading-m">Amount of product per 100,000 seeds</h2>

        {{ govukInput({
        classes:"govuk-input--width-10",
        label: {
          text: "Enter value  ",
          classes: "govuk-label?--l"
        },
        id: "gapSeedTreatmentProductPer100000",
        name: "gapSeedTreatmentProductPer100000"
        }) }}

        {{ govukRadios({
        id: "gapSeedTreatmentProductPer100000Unit",
        name: "gapSeedTreatmentProductPer100000Unit",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select a unit: "
        },
        items: [
          {
            value: "kilograms (kg)  ",
            text: "kilograms (kg)  "

          },   
          {
            value: "litres (l)  ",
            text: "litres (l)  "
          }
        ]
        }) }}

        <h2 class="govuk-heading-m">Application rate to seeds</h2>

        {{ govukInput({
        classes:"govuk-input--width-10",
        label: {
          text: "Enter value ",
          classes: "govuk-label?--l"
        },
        suffix: {text: "g"},
        hint: {
          text: "Grams of active substance per 100,000 seeds "
        },
        id: "gapSeedTreatmentRateToSeeds",
        name: "gapSeedTreatmentRateToSeeds"
        }) }}

        <h2 class="govuk-heading-m">Concentration on seeds</h2>

        {{ govukInput({
        classes:"govuk-input--width-10",
        label: {
          text: "Enter value ",
          classes: "govuk-label?--l"
        },
        suffix: {text: "mg"},
        hint: {
          text: "Milligrams of active substance per 100,000 seeds"
        },
        id: "gapSeedTreatmentConcentrationOnSeeds",
        name: "gapSeedTreatmentConcentrationOnSeeds"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}