{% extends "layouts/main.html" %}

{% block pageTitle %}
Select registered address for {{ data['applicationCompanyName'] or "[company name]" }} {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Application not found</h1>

      <form class="form" method="post">

        <p>0 applications found for <strong>[application reference]</strong></p>
        
        <p>If you typed the application reference, check it is correct.</p>

        <p>If you pasted the application reference, check you copied the entire application reference.</p>

        <p>If the application reference is correct, <a href="#" class="govuk-link">contact the [service]</a> if you need to speak to someone about your application.</p>

        <button class="govuk-button" data-module="govuk-button">Search again</button>

      </form> 

    </div>
  </div>

{% endblock %}