{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
​
{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
​
{% block content %}
​
<div class="govuk-!-padding-bottom-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018–present%29.svg/826px-Microsoft_Office_Outlook_%282018–present%29.svg.png" width="40px"></div>
​
<p><strong>From:</strong> enquiries@hse.gov.uk
  <br><strong>To:</strong> {{ data['email'] }}
  <br><strong>Subject:</strong> {{ data['building-name'] }} application
</p>
​
{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  homepageUrl: "#"
}) }}
​
<div class="govuk-!-padding-bottom-5"></div>
​
<h1 class="govuk-heading-l">Verify your email address to manage your application </h1>
​
<p>Dear [Applicant firstname lastname], ,</p>
​
<p>You’ve started or returned to an application for authorisation of a new plant protection product. So we need you to verify your email address.  </p>
​
{# <p>You have been named as the main contact for [organisation name], a dutyholder for this application.</p>
{# <p><strong>{{ data['building-name'] }}</strong> #}
{# <br>7 Example Street, Exampleton, EX1 2AB</p> #}
​
{# <div class="govuk-inset-text">
  The building control application reference is <strong>BSR019388477</strong>.
</div> #}
​
{# <p>If you agreed to be named in this application, please <a href="#">view and confirm the information provided about you</a>.</p>
​
<p>If you did not agree to be named in this application and would like to challenge this, please <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm">contact the Building Safety Regulator</a> and quote the application reference.</p>
​ #}
<h2 class="govuk-heading-l">Security code </h2>
​
<p>Your security code is <strong>[6-digit code]</strong>.  </p>
​
<p>This code will expire in one hour.  
</p>
​
<p>To verify your email address, enter the security code into your application. 
</p>
​
<h2 class="govuk-heading-l">Return to your application </h2>
​
<p>Return to your application at: www.gov.uk/manage-pesticide-product-authorisations </p> 
​




<p>From: the Health and Safety Executive at the Chemicals Regulation Division</p>
​
<p>Do not reply to this email. It’s an automatic message from an unmonitored account</p>
​
{% endblock %}