{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm registered address for {{ data['clientCompanyName'] or "[Client company name]" }} – Manage building control for a higher-risk building – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Client</span> #}
<h1 class="govuk-heading-l">Confirm registered address for {{ data['applicantCompanyName'] or "[Organisation name]" }}</h1>

      

      <form class="form" method="post">

        {# {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
        {{ govukInsetText({
          text: " 1 Tully Road, London, SE1 1SS "
          
        }) }} #}

        <div class="govuk-inset-text">
          <p>1 Wellborough Street<br> Leeds<br> LS1 7CD</p>
        </div>

        <button class="govuk-button" data-module="govuk-button">Confirm</button>

      </form>

    </div>
  </div>

  <p> <a href="#">Search again</a> </p>

  <p> <a href="#">Enter address manually</a> </p>

  
{% endblock %}
