{% extends "layouts/main.html" %}

{% block pageTitle %}
How many pack sizes does the product have?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application details</span> #}
      <h1 class="govuk-heading-l">How many pack sizes does the product have? </h1>

      {# <p>You can add other package sizes after.</p> #}


 {% from "govuk/components/input/macro.njk" import govukInput %}
 {{ govukInput({
  label: {
    text: "Number of sizes "
  },
  suffix: {
    text: ""
  },
  classes: "govuk-input--width-5",
  id: "productVolume",
  name: "productVolume"
}) }}


    

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
