{% extends "layouts/main.html" %}

{% block pageTitle %}
ow many manufacturing sites exist for [Substance name]?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Application</span> #}
<h1 class="govuk-heading-l">How many manufacturing sites (sources) exist for this substance?
   {# {{ data['applicationCompanyName'] or "[Applicant organisation name]" }} #}
  </h1>

{# <p class="hint">Enter at least one trade name. If you have more than one, separate each one with a comma. For example ‘Apples 10’, ‘Pears 50’.  </p> #}

<div class="govuk-inset-text">
  [Active substance name: 
  <strong>Azoxystrobin
  CAS: 131860-33-8</strong>]
</div>

      <form class="form" method="post">

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% call govukFieldset({
  legend: {
    text: "",
    
    classes: "govuk-fieldset__legend--m",
    isPageHeading: true
  }
}) %}
  {{ govukInput({
    label: {
      text: 'Number of sites'
    },
    classes: "govuk-input--width-10",
    hint: {
    text: ""
  },
    id: "formulaOtherSubstanceTradeName",
    name: "formulaOtherSubstanceTradeName"
  }) }}
  

    
{% endcall %}
       

    

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  

{% endblock %}
