{% extends "layouts/main.html" %}

{% block pageTitle %}
Are all active substances considered low risk?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        {% call govukFieldset({
          legend: {
            text: "Enter registered address for " + (data['applicationCompanyName'] or "[company name]"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
            label: {
              text: "Address line 1"
            },
            id: "clientAddressLine1",
            name: "clientAddressLine1",
            autocomplete: "clientAddressLine1"
          }) }}

        {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "clientAddressCity",
            name: "clientAddressCity",
            autocomplete: "clientAddressCity"
          }) }}

        {{ govukInput({
            label: {
              text: "Province, state or department and postal code"
            },
            classes: "govuk-!-width-two-thirds",
            id: "clientAddressPostalCode",
            name: "clientAddressPostalCode"
          }) }}

        {{ govukInput({
            label: {
              text: "Country"
            },
            classes: "govuk-!-width-two-thirds",
            id: "clientAddressCountry",
            name: "clientAddressCountry"
          }) }}

        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}