{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers authorisation holder – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      
<form method="post">

        <h1 class="govuk-heading-l">Formula composition</h1>

        <p>This is your product formulation composition, from the data you have provided. If this does not look right you can go back and add more substances.</p>

        {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Substance name",
      classes: "app-custom-class"
    },
    {
      text: "CAS/EC number(s)",
      classes: "app-custom-class"
    },
    {
      text: "Content",
      classes: "app-custom-class"
    }
  ],
  rows: [
    [
      {
        text: "Azoxystrobin"
      },
      {
        text: "131860-33-8"
      },
      {
        text: "1.1g/kg"
      }
    ],
    [
      {
        text: "Prohexadione"
      },
      {
        text: "127277-53-6"
      },
      {
        text: "0.1ml/l"
      }
    ],
    [
      {
        text: "Zinc"
      },
      {
        text: "7440-66-6"
      },
      {
        text: "0.9g/kg"
      }
    ],
    [
      {
        text: "Dihydrogen monoxide"
      },
      {
        text: "7789-20-0"
      },
      {
        text: "60ml/l"
      }
    ],
    [
      {
        text: "Copper sulfate"
      },
      {
        text: "7758-98-7"
      },
      {
        text: "3.5g/kg"
      }
    ]
  ]
}) }}

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

        {# <p><a href="#">View application progress</a></p> #}

      </form>

    </div>
  </div>
{% endblock %}
