{% extends "layouts/main.html" %}

{% block pageTitle %}
What type of delay are you requesting?    – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        {% set textHtml %}
        {{ govukInput({
        id: "applicantType",
        name: "applicantType",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Give details"
        }
        }) }}
        {% endset -%}

        <h1 class="govuk-heading-l">What type of delay are you requesting?  </h1>
        <p>Select all that apply. </p>

        {% set textHtml %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             <p>Proposed submission deadline </p>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 03 2007
            </div>
            <div class="govuk-date-input" id="passport-issued">
              {# <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div> #}
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {% endset -%}

        {{ govukCheckboxes({
          id: "requestDelayType",
          name: "requestDelayType",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Category 4 delay ",
              text: "Category 4 delay ",
              hint: {text:"Provide evidence of any prior agreement to Category 4 delays in your application overview "},
              conditional: {
                html: textHtml
              }
              
            },   
            {
              value: "Mixed active delay",
              text: "Mixed active delay",
              hint: {text:"Where other active substances in the formulation expire within the next 12 months "}
             
            }
            
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}