{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {# <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
      <p class="govuk-body">
        You will be able to use the service from 9am on Monday 19&nbsp;November&nbsp;2018.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="#">Contact the Tax Credits Helpline</a> if you need to make changes to your claim or speak to someone about your tax credits.
      </p>

      <mark>
New WCAG 2.2 criteria affects this pattern
To use ‘Service unavailable pages’ and meet the new Web Content Accessibility Guidelines (WCAG) 2.2 criteria, make sure that users can successfully:
<br>
You must always write contact information in a clear and consistent way across ‘Service unavailable’ and similar service error pages. This relates to WCAG 2.2 success criterion 3.2.6 Consistent Help.
      </mark>
    </div>
  </div>

{% endblock %}