{% extends "layouts/main.html" %}

{% block pageTitle %}
Submit information – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        <h1 class="govuk-heading-l">Submit information</h1>
        <p>The Chemicals Regulation Division has requested additional information to support an application.</p>

        <h2 class="govuk-heading-m">Requested information</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Job number
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['buildingReference'] or '[Job number]'}}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Application type
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['applicationName'] or '[Application type]'}}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Request number
              </dt>
            <dd class="govuk-summary-list__value">
               [Request number]
              </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Information requested
              </dt>
            <dd class="govuk-summary-list__value">
                [Information requested]
              </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Due date
              </dt>
            <dd class="govuk-summary-list__value">
               [Due date]
              </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Upload documents</h2>

        {{ govukFileUpload({
            id: "constructionControlHrb",
            name: "constructionControlHrb",
            label: {
              text: ""
            },
            hint: {
              text: "You can upload more than one file. Each file must be a maximum of 4GB."
            }
          }) }}

        <h2 class="govuk-heading-m">Enter requested information</h2>

        {{ govukTextarea({
            name: "applicationStagedWorkStatementDescription",
            id: "applicationStagedWorkStatementDescription",
            label: {
              text: "",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "
              If you have been asked for more information to support your application, enter it here:"
            }
          }) }}

        <a href="submitted-information" class="govuk-button">Submit</a>

      </form>

    </div>
  </div>

{% endblock %}