{% extends "layouts/main.html" %}

{% block pageTitle %}
We have saved your answers – Manage building control for a higher-risk building – GOV.UK
{% endblock %}

{% block beforeContent %}
  {# <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        <h1 class="govuk-heading-l">We have saved your answers</h1>
        <p>You can use your plant protection product authorisation application reference to return to your application at any time.</p>
        <button class="govuk-button" data-module="govuk-button">Return to application</button>

      </form>

    </div>
  </div>

{% endblock %}