{% extends "layouts/main.html" %}

{% block pageTitle %}
Verify your email address – Manage building control for a higher-risk building – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        <h1 class="govuk-heading-l">Confirm you are the contact for [organisation]</h1>
        <p>  You have been named as the main contact for [organisation], a dutyholder for the following application for building control approval for a higher-risk building.
           </p>
        <p>[Organisation] has been named as the principal designer for this application.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Application name
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['applicationName'] or '[Application name]'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Application reference
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['buildingReference'] or '[Application reference]'}}
            </dd>
          </div>
        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Building name
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nameFirstHrb'] or '[building name]'}}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Building location
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addressChooseFirstHrb'] or '[building location]'}}
            </dd>
          </div>

        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Organisation type
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['clientOrganisationType'] or '[Organisation type]'}}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Organisation name
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['clientCompanyName'] or '[Organisation name]'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Registered address
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['clientAddressList'] or '[Registered address]'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Named contact
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['clientNamedContactFirstName'] or '[Firstname]'}}
              {{ data['clientNamedContactLastName'] or '[Lastname]'}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Phone number
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['clientNamedPhone'] or '[Phone number]'}}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Email address
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['clientNamedEmail'] or '[Email address]'}}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Correspondence address
              </dt>
            <dd class="govuk-summary-list__value">
              {{ data['clientCorrespondenceAddressSame'] or '[Correspondence address]'}}
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Confirm this information is correct</h2>

        {{ govukCheckboxes({
              name: "confirmPrincipalDesigner",
              fieldset: {
                legend: {
                  text: "",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "confirm role",
                  text: "I confirm [organisation] is the principal designer for this application."
                },
                {
                  value: "confirm contact",
                  text: "I confirm I am the main contact for [organisation] for this application."
                }
              ]
            }) }}

        <p> If any of this information is incorrect, please [contact the Building Safety Regulator] and quote the application reference.</p>

        <button class="govuk-button" data-module="govuk-button">Confirm</button>

      </form>
    </div>
  </div>
{% endblock %}