{% extends "layouts/main.html" %}

{% block pageTitle %}
Summary of changes  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        {{ govukTextarea({
          name: "summaryOfChanges",
          id: "summaryOfChanges",
          label: {
            text: "Give a summary of the changes you are applying for ",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter description"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}