{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you need to add another active substance source?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      

      <form class="form" method="post">
        

        <h1 class="govuk-heading-xl">You have added [X] active substance [source/sources]</h1>
        <div class="govuk-form-group">
        
          <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                Active substance source 1
              </dt>
              <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Active substance source 1 </span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Active substance source 1  from the list</span></a></li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                Active substance source 2
              </dt>
              <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Active substance source 2</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Active substance source 2 from the list</span></a></li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                Active substance source 3
              </dt>
              <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Active substance source 3</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Active substance source 3 from the list</span></a></li>
                </ul>
              </dd>
            </div>
          </dl>
        
        </div>
        <form method="post" novalidate action="">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you need to add another active substance source?
              </legend>
              <div id="add-another-hint" class="govuk-hint">
                You will be charged for each source you add.
              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="add-another">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="add-another-2">
                    No
                  </label>
                </div>
              </div>
        
            </fieldset>
          </div>
        
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      {# <span class="govuk-caption-l">Application</span> #}

      {# <h1 class="govuk-heading-l">
        Do you need to add another active substance source? 
      </h1>


      

{% set textHtml %}
{{ govukInput({
  id: "applicationOngoingDetails",
  name: "applicationOngoingDetails",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter reference"
  },
  hint: { text: "For example, application number, product name or MAPP number "}
}) }}
{% endset -%}

{{ govukRadios({
  id: "applicationOngoing",
  name: "applicationOngoing",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: false,
      conditional: {
        html: emailHtml
      },
      hint: {text: "You will be sent charged for each source you add. "}
    },   
    {
      value: "No",
      text: "No",
      conditional: {
        html: emailHtml
      }
    }
  ]
}) }} #}

    
        
        {# <button class="govuk-button" data-module="govuk-button">Continue</button> #}

      </form>

    </div>
  </div>

{% endblock %}
