{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have any of the following? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application details</span> #}
      <h1 class="govuk-heading-l">Do you have any of the following for the co-formulant? </p>

{# <p>Explain the nature of the active substance sources. If you told us about additional active substances, they will appear on the following pages.</p> #}





{{ govukRadios({
  id: "formulaOtherSubstanceCodeList",
  name: "formulaOtherSubstanceCodeList",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "CAS",
      text: "CAS number",
      checked: false
    },   
    {
      value: "EC",
      text: "EC number"
    },   
    {
      value: "ELINCS",
      text: "ELINCS number"
    },   
    {
      value: "EINECS",
      text: "EINECS number"
    }

  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
