{% extends "layouts/main.html" %}

{% block pageTitle %}
Is the source technically equivalent?   – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      <span class="govuk-caption-l">Data ownership: Active substance source data </span>
      <h1 class="govuk-heading-l">Has this active substance source previously been considered to be technically equivalent by an EU member state?    </p>

{# <p>[Active substance name]</p> #}

{# <div class="govuk-inset-text">
  [Active substance name: 
  <strong>Azoxystrobin
  CAS: 131860-33-8</strong>]
</div> #}


{% set emailHtml %}
{{ govukInput({
  id: "formulaActiveSubstanceOwnershipText",
  name: "formulaActiveSubstanceOwnershipText",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Reference evaluation report"
  },
  hint: { text: "This could be any or all of the following: COP number, Wisdom reference, HSE reference, product name, product identifier code"}
}) }}
{% endset -%}



{{ govukRadios({
  id: "activeSourcePreviousTechEquivNI",
  name: "activeSourcePreviousTechEquivNI",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "Yes",
      text: "Yes "
      
    },   
    {
      value: "No",
      text: "No ",
      checked: false,
      hint: {text: "This application may not result in authorisation in Northern Ireland if the active substance source has not previously been considered to be technically equivalent by an EU member state. "}
    }

  ]
}) }}


{# {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "This application may not result in authorisation in Northern Ireland if the active substance source has not previously been considered to be technically equivalent by an EU member state. ",
  iconFallbackText: "Warning"
}) }} #}



        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
