{% extends "layouts/main.html" %}

{% block pageTitle %}
5-batch data owner details  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        {# <span class="govuk-caption-l">Data ownership: Active substance data</span> #}
        <h1 class="govuk-heading-l">5-batch data owner details   </p>

        {# <p>Enter the details of the substance in your formulation. You can add another substance later if you need to.  </p> #}

        {# <p>[Active substance name: 
  <strong>Azoxystrobin
  CAS: 131860-33-8</strong>]</p> #}

        <h2 class="govuk-heading-m">Name of data owner  </h2>

        {{ govukInput({
    label: {
      text: 'Name of data owner '
    },
    hint: {
    text: " "
  },
    id: "formulaActiveSubstanceDesc",
    name: "formulaActiveSubstanceDesc",
    autocomplete: "formulaActiveSubstanceDesc"
  }) }}

        <h2 class="govuk-heading-m">How will you demonstrate access to the active substance source data in this application? </h2>
        <p>Letters of access must be valid and relevant to this application.  </p>

        {{ govukCheckboxes({
  id: "formulaActiveSubstanceAccess",
  name: "formulaActiveSubstanceAccess",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    
    {
      value: "Letter of access to be provided in this application ",
      text: "Letter of access to be provided in this application "
      
    },   
    {
      value: "Letter of access provided previously",
      text: "Letter of access provided previously "
    },   
    {
      value: "Letter of access sent by third party ",
      text: "Letter of access sent by third party  "
    },   
    {
      value: "Not required – applicant is the owner ",
      text: "Not required – applicant is the owner "
    }

  ]
}) }}

       

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}