{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers usage – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        <h1 class="govuk-heading-xl">Check your answers</h1>

        <!-- DATA OWNERSHIP - START -->
        <h2 class="govuk-heading-m">Active substance source data ownership</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Describe the data ownership
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaActiveSubstanceDesc'] or '[Active substance description]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden">Describe the data ownership</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Access to the data in this application
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaActiveSubstanceAccess'] or '[Authorisation holder owns all data]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden">Access to the data in this application</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reference details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaActiveSubstanceReference'] or '[more details]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> Client registered address</span>
              </a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Product data ownership</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Authorisation holder owns all data for the product?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaProductOwnership'] or '[product auth holder]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-proof-of-authorisation">
                Change
                <span class="govuk-visually-hidden">Authorisation holder owns all data for the product?</span>
              </a>
            </dd>
          </div>

        {% if data['formulaProductOwnership'] == 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Specific type of data
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaProductOwnershipDataType'] or '[data type]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-proof-of-authorisation">
                Change
                <span class="govuk-visually-hidden">Specific type of data</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Name of data owner
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaProductOwnershipName'] or '[Data owner name]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-proof-of-authorisation">
                Change
                <span class="govuk-visually-hidden">Name of data owner</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Access to the data in this application
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaProductOwnershipAccess'] or '[Data owner access]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-proof-of-authorisation">
                Change
                <span class="govuk-visually-hidden">Access to the data in this application</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Supporting information
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['formulaProductOwnershipMoreInfo'] or '[Data ownership more info]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-proof-of-authorisation">
                Change
                <span class="govuk-visually-hidden">Supporting information</span>
              </a>
            </dd>
          </div>
        {% endif %}
        </dl>

        <h2 class="govuk-heading-m">Active substance source data</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if data['isActiveSubstanceSourceUpload'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Active substance source information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['xxxxx'] or '[Access source upload file]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="documents-upload-proof-of-authorisation">
                  Change
                  <span class="govuk-visually-hidden">Active substance source information</span>
                </a>
              </dd>
            </div>
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Number of sources
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['formulaActiveSubstanceSourceNumberOf'] or '[number of sources]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="documents-upload-proof-of-authorisation">
                  Change
                  <span class="govuk-visually-hidden">Number of sources</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Active substance source previously been considered to be technically equivalent by an EU member state?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['activeSourcePreviousTechEquivNI'] or '[Technically equivalent EU]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="documents-upload-proof-of-authorisation">
                  Change
                  <span class="govuk-visually-hidden">Active substance source previously been considered to be technically equivalent by an EU member state?</span>
                </a>
              </dd>
            </div>

            <!-- NI check answers -->
            {% if data['activeSourcePreviousTechEquivNI'] == "Yes" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 EU Member State
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['memberState'] or '[Member state]'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="application-eu-reference">
                    Change
                    <span class="govuk-visually-hidden">EU Member State</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 EU Product name (or Code)
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['productCode'] or '[EU product code]'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="application-eu-reference">
                    Change
                    <span class="govuk-visually-hidden">EU Product name (or Code)</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 EU Authorisation holder
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['authHolder'] or '[EU auth holder]'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="application-eu-reference">
                    Change
                    <span class="govuk-visually-hidden">EU Authorisation holder</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 EU Marketing company
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['marketingCompany'] or '[EU marketing company]'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="application-eu-reference">
                    Change
                    <span class="govuk-visually-hidden">EU Marketing company</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 EU Authorisation number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['authNumber'] or '[EU auth number]'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="application-eu-reference">
                    Change
                    <span class="govuk-visually-hidden">EU Authorisation number</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Date of EU Member State finalised technical equivalence report
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['dateTechnicalReport'] or '[EU auth number]'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="application-eu-reference">
                    Change
                    <span class="govuk-visually-hidden">Date of EU Member State finalised technical equivalence report</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Name of data owner
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['formulaActiveSubstanceSourceName'] or '[Data owner]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="formula-active-substance-source-data-ownership-details">
                  Change
                  <span class="govuk-visually-hidden">Name of data owner</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Existing application reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['formulaActiveSubstanceRef'] or '[Existing application reference]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="formula-active-substance-source-data-ownership-details">
                  Change
                  <span class="govuk-visually-hidden">Existing application reference</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Manufacturing site address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['formulaManufacturingAddressList'] or '[Manufacturing address]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="formula-active-substance-source-data-ownership-details">
                  Change
                  <span class="govuk-visually-hidden">Manufacturing site address</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Access to the active substance source data in this application
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['formulaActiveSourceDataOwnerLetters'] or '[Access to data source]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="formula-active-substance-source-data-ownership-details">
                  Change
                  <span class="govuk-visually-hidden">Access to the active substance source data in this application</span>
                </a>
              </dd>
            </div>

          {% endif %}
        </dl>
        <!-- DATA OWNERSHIP - END -->



        <!-- SPECIALIST ASSESSMENT - START -->
        <h2 class="govuk-heading-m">Specialist assessment risk</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Risk assessment areas
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['refProductProposedUse'] or '[risk assessment areas]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-reference-product-risk-areas">
              Change
              <span class="govuk-visually-hidden">Marketing company</span>
              </a>
            </dd>
          </div>
        </dl>
        <!-- SPECIALIST ASSESSMENT - END -->

        <!-- DRAFT REPORT - START -->
        <h2 class="govuk-heading-m">Draft registration report</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Draft registration report documents uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsDraftRegReportSelect'] or '[draft reg reports]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-draft-reg-report">
              Change
              <span class="govuk-visually-hidden">Draft registration report documents uploaded</span>
              </a>
            </dd>
          </div>
        </dl>
        <!-- DRAFT REPORT - END -->


        <!-- AFFIRMATION - START -->
        <h2 class="govuk-heading-m">Affirmation</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Affirmation of change
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['changeAffirmation'] or '[nothing changed]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="product-name">
              Change
              <span class="govuk-visually-hidden">Affirmation of change</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Confirm EAMUs affected
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['EAMUsAffected'] or '[EAMUs not affected]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="product-name">
              Change
              <span class="govuk-visually-hidden">Confirm EAMUs affected</span>
              </a>
            </dd>
          </div>
        </dl>
        <!-- AFFIRMATION - END -->



        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p>
          <a href="#">View application progress</a>
        </p>

      </form>
    </div>
  </div>
{% endblock %}




