{% extends "layouts/main.html" %}

{% block pageTitle %}
What change are you applying for? – Manage pesticide product authorisations – GOV.UK 
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        
        {{ govukRadios({
          id: "applicationChanges",
          name: "applicationChanges",
          fieldset: {
            legend: {
              text: "What change are you applying for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Product trade name",
              text: "Product trade name"
            },
            {
              value: "Authorisation holder",
              text: "Authorisation holder"
            },
            {
              value: "Marketing company",
              text: "Marketing company"
            },
            {
              value: "MAPP number",
              text: "MAPP number"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>
{% endblock %}