{% extends "layouts/main.html" %}

{% block pageTitle %}
Upload case for need – Manage pesticide product authorisations – GOV.UK 
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <style>
    .govuk-summary-list__key {
      width: 60%;
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload your case for need</h1>
      <p>Your case for need should demonstrate the agronomic ‘need’ for the proposed use.</p>
      <p>Include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the nature and scale of the problem</li>
        <li>why alternative methods cannot be used</li>
      </ul>
      {% if data['applicationUrgentStatus'] == "Yes" %}
        <p>As you are requesting urgent status, your case for need should also include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>details estimating the severity of the problem if the extension of authorisation is not issued urgently – including crop losses, damage, costs and the significance of these losses</li>
          <li>the impact if the authorisation is not issued by the date required</li>
        </ul>
      {% endif %}


      <form class="form" method="post">

        <div id="file-upload-1-hint" class="govuk-hint">
        You can upload more than one file. Each file must be a maximum of 4GB. 
        </div>

        <p id="upload-update" class="govuk-body govuk-!-display-none" aria-live="assertive" aria-relevant="all">1 of 2 files uploaded</p>

        <button id="upload-more" style="display:none" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add more files
        </button>

        <div id="upload-wrapper" class="govuk-form-group">
          <label class="govuk-label" for="upload-button">
          Upload a file
        </label>
          <input class="govuk-file-upload" id="upload-button" name="upload-button" type="file" multiple="multiple">
        </div>

        <p class="govuk-body govuk-!-display-none" id="refreshPageProgress">
          <a href="#" class="govuk-link">Refresh page to update file upload progress</a>
        </p>

        <dl id="file-row-container" class="govuk-summary-list govuk-summary-list--long-key"></dl>


        {{ govukRadios({
          name: "supportingDocThirdParty",
          id: "supportingDocThirdParty",
          fieldset: {
            legend: {
              text: "Will a third party provide any or all of this information?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Third party",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
        text: "Save and continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}

  <script>
    document
      .getElementById("upload-button")
      .addEventListener("click", fileUpload);
    document
      .getElementById("upload-more")
      .addEventListener("click", showUploadButton);
    document
      .getElementById("upload-button")
      .addEventListener("change", fileSelected);

    const fileRows = document.getElementById("file-row-container");
    const uploadUpdate = document.getElementById("upload-update");

    const myTimeout = setInterval(checkUploads, 1000);

    function checkUploads() {
      console.log("checking uploads")
      // check all the uploaded and review if any of them need updating
      var filesUploading = document.getElementsByClassName('govuk-tag--yellow')

      if (filesUploading.length > 0) {
        for (i = 0; i < filesUploading.length; i++) {
          console.log(filesUploading[i])
          // do a random check and see if the file is uploaded
          if (Math.floor(Math.random() * 3) == 2) {
            // change the label
            filesUploading[i].innerHTML = 'uploaded'
            filesUploading[i]
              .classList
              .add('govuk-tag--green')
            filesUploading[i]
              .classList
              .remove('govuk-tag--yellow')
          }
        }
      }

      filesUploading = document
        .getElementsByClassName('govuk-tag--yellow')
        .length
      filesUploaded = document
        .getElementsByClassName('govuk-tag--green')
        .length

      // uploadUpdate.textContent = `${filesUploaded} of ${filesUploading + filesUploaded} files uploaded`;
      // uploadUpdate.classList.remove("govuk-!-display-none");

      // new code start
      uploadUpdate.textContent = `${filesUploaded} of ${filesUploading + filesUploaded} files uploaded`;
      if (filesUploaded > 0 || filesUploading > 0) {
        uploadUpdate
          .classList
          .remove("govuk-!-display-none");
      }
      // new code finish

    }

    function fileUpload() {
      //console.log("upload clicked")
    }

    function showUploadButton(e) {
      // remove the upload button and replace with an upload more button
      e.preventDefault()
      document
        .getElementById("upload-button")
        .value = "";
      document
        .getElementById("upload-wrapper")
        .style
        .display = "block";
      document
        .getElementById("upload-more")
        .style
        .display = "none";
    }

    function fileSelected(e) {

      for (i = 0; i < e.target.files.length; i++) {

        const markup = `
              <dt class="govuk-summary-list__key">
                <a class="govuk-link" href="#">${e
          .target
          .files[i]
          .name}</a>
                 <input type="hidden" id="filesUploaded" name="filesUploaded" value="${e
          .target
          .files[i]
          .name}">
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--yellow">uploading</strong>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden"> ${e
          .target
          .files[i]
          .name}</span>
                </a>
              </dd>
            `;

        // remove the upload button and replace with an upload more button
        document
          .getElementById("upload-wrapper")
          .style
          .display = "none";
        document
          .getElementById("upload-more")
          .style
          .display = "block";

        let row = document.createElement('div');
        row
          .classList
          .add("govuk-summary-list__row")
        row.innerHTML = markup
        fileRows.append(row)

        filesUploading = document
          .getElementsByClassName('govuk-tag--yellow')
          .length
        filesUploaded = document
          .getElementsByClassName('govuk-tag--green')
          .length

        uploadUpdate.textContent = `${filesUploaded} of ${filesUploading} files uploaded`;
        uploadUpdate
          .classList
          .remove("govuk-!-display-none");

      }

    }
  </script>
{% endblock %}