{% extends "layouts/main.html" %}

{% block pageTitle %}
When is the emergency use required? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <h1 class="govuk-heading-l">When is the emergency use required? </h1>
        <p>HSE will endeavour to complete the application by the requested date, but cannot guarantee this will be met. </p>
       
        {{ govukDateInput({
          id: "emergencyDate",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}