{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Apply for authorisation of a new plant protection product</span>
      <h1 class="govuk-heading-l">{{ data['existingJobNumber'] or '[Job Number]' }} and [Product name/code (when applicable)]</h1> 

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 4 sections.</p>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Returning to this application</h2>
      <p class="">We will save the information you give to us on each page.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">Your job number and instructions on how to return later have been sent to <strong>{{ data['your-email'] or 'charlotte.tilbury@barracks.com' }}</strong>.</p>

      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">1.</span> Applicant information</h2>

      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="placeholder-contact-for-tech-info" aria-describedby="company-information-status">
             Application information
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started yet</strong>
        </li>
      </ul>

      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">2.</span> Product information</h2>

      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
          Authorised holder
          
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
            Marketing company
          
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
            Product details
          </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
            Formulation composition
          </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
            Proposed and authorised uses
          </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
            Packaging
          </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
            Manufacturing site
          </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>
      </ul>

      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">3.</span> Documents</h2>

      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
           Supporting document
        </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>
      </ul>

      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">4.</span> Declaration, payment details and submit</h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Declaration
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
      </li>

      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
           Payment details and submit your application
          </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
    </li>
  </ul>

  <p> After you have paid your fee and applied, we will contact you. We may ask you for more information.</p>
</div>
</div>
{% endblock %}