{% extends "layouts/main.html" %}

{% block pageTitle %}
Upload proof of authorisation  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload your proof of authorisation </h1>
      <p>This includes labels, authorisation documents, and relevant legislation for the exporting country.  </p>

 

      <p> You may provide links to the national websites where this information is available. Provide English translations if necessary. </p>
      <form class="form" method="post">

        {{ govukFileUpload({
          id: "authHolderAuthorisation",
          name: "authHolderAuthorisation",
          label: {
            text: "Upload file"
          }
        }) }}


        <h2 class="govuk-heading-m">If this information is not available at time of application </h2>

        <p>HSE can start the assessment without this evidence. However, HSE cannot implement the MRL if the evidence is not provided by the assessment completion deadline, and you will need to make a new application with the evidence. In this case, HSE will check the evaluation report to ensure the assessment remains valid and charge a sift fee and an administrative fee. </p>

        {{ govukCheckboxes({
          name: "documentsDraftEvaluationThirdParty",
          id: "documentsDraftEvaluationThirdParty",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "I will provide this information at a later date ",
              text: "I will provide this information at a later date "
            }
          ]
        }) }}

        {{ govukRadios({
          name: "documentsDraftEvaluationThirdParty",
          id: "documentsDraftEvaluationThirdParty",
          fieldset: {
            legend: {
              text: "Will a third party provide any or all of this information?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Third party",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>
{% endblock %}