{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a substance – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

      <span class="govuk-caption-l">Formulation composition</span>
      <h1 class="govuk-heading-l">Add a substance </p>

      <p>Add details of a substance in the product. You can add another substance later if you need to.    </p>

{# <p>[Active substance name: 
  <strong>Azoxystrobin
  CAS: 131860-33-8</strong>]</p> #}

  <h2 class="govuk-heading-m">Chemical name </h2>
  
  {{ govukInput({
    label: {
      text: 'Enter substance name '
    },
    hint: {
    text: "Type part of the substance name and select it from the list. If the full name does not show, enter it manually "
  },
    id: "formulaActiveSubstanceName",
    name: "formulaActiveSubstanceName",
    autocomplete: "formulaActiveSubstanceName"
  }) }}


        <h2 class="govuk-heading-m">Function</h2>

        {{ govukInput({
        label: {
          text: 'Enter function '
        },
        hint: {
          text: "Type part of the substance name and select it from the list. If the full name does not show, enter it manually.  "
        },
        id: "formulaActiveSubstanceFunction",
        name: "formulaActiveSubstanceFunction",
        autocomplete: "formulaActiveSubstanceFunction"
        }) }}


<h2 class="govuk-heading-m">Reference number (optional) </h2>
{{ govukInput({
  id: "formulaTypeAddReference",
  name: "formulaTypeAddReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: 'Enter reference number '
  },
  hint: {text: "For example, CAS, EC, ELINCS or EINECS number "}
}) }}
{# {% set CAS %}
{{ govukInput({
  id: "formulaTypeAddReference",
  name: "formulaTypeAddReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}
{% set EC %}
{{ govukInput({
  id: "formulaTypeAddReference",
  name: "formulaTypeAddReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}
{% set ELINCS %}
{{ govukInput({
  id: "formulaTypeAddReference",
  name: "formulaTypeAddReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}
{% set EINECS  %}
{{ govukInput({
  id: "formulaTypeAddReference",
  name: "formulaTypeAddReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}

{{ govukRadios({
  id: "formulaTypeAddReference",
  name: "formulaTypeAddReference",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "CAS",
      text: "CAS number",
      conditional: { html: CAS }
    },   
    {
      value: "EC",
      text: "EC number",
      conditional: { html: EC }
    }
    ,   
    {
      value: "ELINCS",
      text: "ELINCS number",
      conditional: { html: ELINCS }
    }
    ,   
    {
      value: "EINECS",
      text: "EINECS number",
      conditional: { html: EINECS }
    }

  ]
}) }} #}

<h2 class="govuk-heading-m">What is the role of the substance in the product? </h2>


{{ govukRadios({
  id: "formulaTypeAdd",
  name: "formulaTypeAdd",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "Active Substance",
      text: "Active substance"
      
    },   
    {
      value: "Co Formulant",
      text: "Co-formulant",
      checked: false
    }

  ]
}) }}


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>
{% endblock %}