{% extends "layouts/main.html" %}

{% block pageTitle %}
What type of application are you making? – Manage pesticide product authorisations – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        
        {{ govukCheckboxes({
          name: "applicationType",
          id: "applicationType",
          fieldset: {
            legend: {
              text: "What type of application are you making?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "New extension of authorisation",
              text: "New extension of authorisation "
            },
            {
              value: "New extension of authorisation identical to an existing extension of authorisation for an identical product",
              text: "New extension of authorisation identical to an existing extension of authorisation for an identical product "
            },
            {
              value: "Reinstatement of a previously authorised extension of authorisation for minor use (EAMU)",
              text: "Reinstatement of a previously authorised extension of authorisation for minor use (EAMU)"
            },
            {
              value: "Finalisation of an extension of authorisation for minor use (EAMU) application following the publication of a revised or raised maximum residue level (MRL)",
              text: "Finalisation of an extension of authorisation for minor use (EAMU) application following the publication of a revised or raised maximum residue level (MRL)"
            },
            {
              value: "Change to an existing extension of authorisation for minor use (EAMU)",
              text: "Change to an existing extension of authorisation for minor use (EAMU)"
            },
            {
              value: "Renewal of an extension of authorisation for minor use (EAMU) ",
              text: "Renewal of an extension of authorisation for minor use (EAMU) "
            },
            {
              value: "Mutual recognition of authorisation of an EU member state extension of authorisation for minor use (EAMU)",
              text: "Mutual recognition of authorisation of an EU member state extension of authorisation for minor use (EAMU)"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}