{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers documents – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        <h1 class="govuk-heading-xl">Check your answers</h1>
        
        <h2 class="govuk-heading-m">Risk assessment areas</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Risk assessment areas using the reference product
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['xxxx'] or '[chemistry risk assessment area]'}}<br>
              {{ data['xxxx'] or '[mammalian toxicology risk assessment area]'}}<br>
              {{ data['xxxx'] or '[non-dietary human exposure risk assessment area]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-reference-product-risk-areas">
              Change
              <span class="govuk-visually-hidden">Risk assessment areas using the reference product</span>
              </a>
            </dd>
          </div>
        </dl>
        
        <h2 class="govuk-heading-m">Reference product details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Using a reference product
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsReferenceProduct'] or 'Yes'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-reference-product">
              Change
              <span class="govuk-visually-hidden">Using a reference product to support your application</span>
              </a>
            </dd>
          </div>

          {% if data['documentsReferenceProduct'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           Product name
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsReferenceProductName'] or '[reference product]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-reference-product-details">
              Change
              <span class="govuk-visually-hidden">Product name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            MAPP number
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsReferenceProductMapp'] or '[mapp number]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-reference-product-details">
              Change
              <span class="govuk-visually-hidden">MAPP number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Authorisation holder
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsReferenceProductAuthHolder'] or '[auth holder]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-reference-product-details">
              Change
              <span class="govuk-visually-hidden">Authorisation holder</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Marketing company
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsReferenceProductMarketingCo'] or '[marketing company]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-reference-product-details">
              Change
              <span class="govuk-visually-hidden">Marketing company</span>
              </a>
            </dd>
          </div>
          {% endif %}
        </dl>

        <h2 class="govuk-heading-m">Documents</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Application overview uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsAdminSelect'] or '[application overview doc]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-admin">
              Change
              <span class="govuk-visually-hidden">Admin documents uploaded</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Draft registration report documents uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsDraftRegReportSelect'] or '[draft reg reports]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-draft-reg-report">
              Change
              <span class="govuk-visually-hidden">Draft registration report documents uploaded</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Supporting data dossier uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['dataDossierUpload'] or '[data dossier file]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-supporting">
              Change
              <span class="govuk-visually-hidden">Draft registration report documents uploaded</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Relevant CRD correspondence uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentsCRDSelect'] or '[crd correspondence files]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-supporting">
              Change
              <span class="govuk-visually-hidden">Relevant CRD correspondence uploaded</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Safety data sheets (SDS) uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentSDSUpload'] or '[safety data sheets file]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-safety-data-sheet">
              Change
              <span class="govuk-visually-hidden">Safety data sheets (SDS) uploaded</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Comparative assessment report uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentComparativeAssessmentUpload'] or '[comparative assessment file]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-comparative-assessment-report">
              Change
              <span class="govuk-visually-hidden">Comparative assessment report uploaded</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Case for need uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentComparativeAssessmentUpload'] or '[case for need file]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-case-for-need">
              Change
              <span class="govuk-visually-hidden">Case for need uploaded</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Letters of access uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentLettersOfAccessUpload'] or '[letters of access file]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-letters-of-access">
              Change
              <span class="govuk-visually-hidden">Letters of access uploaded</span>
              </a>
            </dd>
          </div>
          <!--<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Proof of authorisation uploaded
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['documentProofAuthUpload'] or 'auth-proof-02.pdf'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="documents-upload-proof-of-authorisation">
              Change
              <span class="govuk-visually-hidden">Proof of authorisation uploaded</span>
              </a>
            </dd>
          </div>-->
        </dl>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p>
          <a href="#">View application progress</a>
        </p>

      </form>

    </div>
  </div>
{% endblock %}