{% extends "layouts/main.html" %}

{% block pageTitle %}
Is this EAMU a plant health order?   – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        {# <h1 class="govuk-heading-l"> </h1> #}
       <p></p>

{{ govukRadios({
  name: "plantHealthOrder",
  fieldset: {
    legend: {
      text: "Is this EAMU a plant health order? ",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}