{% extends "layouts/main.html" %}

{% block pageTitle %}
Describe the reason for withdrawal  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Application</span> #}
<h1 class="govuk-heading-l">Describe the reason for withdrawal 
   {# {{ data['applicationCompanyName'] or "[Applicant organisation name]" }} #}
  </h1>

<p>Include as much relevant detail as necessary. </p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If the withdrawal is due to adverse data 
    </span>
  </summary>
  <div class="govuk-details__text">
    The authorisation holder must immediately submit any new data or information on the potentially dangerous effects of an active substance or product to the Chemicals Regulation Division (CRD).  
    <br> <br>
    <a href="https://www.hse.gov.uk/pesticides/pesticides-registration/applicant-guide/adverse-data.htm">Find out more about adverse data (opens in a new tab)</a>
  </div>
</details>

      <form class="form" method="post">

        {{ govukTextarea({
          name: "whatToWithdrawDescriptionUse",
          id: "whatToWithdrawDescriptionUse",
          label: {
            text: "Enter description",
            classes: "govuk-label--",
            isPageHeading: true
          },
          hint: {
            text: ""
          }
        }) }}
    
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  

{% endblock %}
