{% extends "layouts/main.html" %}

{% block pageTitle %}
What are you applying to withdraw?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application details</span> #}
      <h1 class="govuk-heading-l">What are you applying to withdraw?</h1>

      {# <p> This will apply to you if you need top raise the MRL beyond the current Great Britain limit. You can see <a href="#">current GB Maximum Residue Level (opens in new tab)</a> if you are unsure.</p> #}

      <p>[Play back product details] </p>


 {{ govukRadios({
  id: "whatToWithdraw",
  name: "whatToWithdraw",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "Product",
      text: "Product",
      checked: false
      
    },   
    {
      value: "Product uses",
      text: "Product uses",
      hint: {text:"Include details of the uses being withdrawn in your application overview "}
      
    }
  ]
}) }}

    

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
