{% extends "layouts/main.html" %}

{% set pageName="Version 0" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Apply for an authorisation for a plant protection product</span>
      Version 3
    </h1>

    <h2 class="govuk-heading-m">Application journey</h2>
    <p class="govuk-body"><a href="version-3/applicant-type">Start</a></p>
    <p class="govuk-body">Iteration of product use and formulation sections based on user research feedback. Further amenmenments from SME feedback around EAMU details</p>
    <h2 class="govuk-heading-m">User Research</h2>
    <p class="govuk-body">Week commencing: 04/12/23</p>

    
  </div>
</div>

{% endblock %}
