{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you want to apply this active substance source change to multiple products?   – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        {# <span class="govuk-caption-l">Data ownership: Product data</span> #}
        <h1 class="govuk-heading-l">Do you want to apply this active substance source change to multiple products? </p>

       
        {{ govukRadios({
          id: "activeChangeAll",
          name: "activeChangeAll",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },   
            {
              value: "No",
              text: "No"
            }

          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}