{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you requesting a delay to your dossier submission?    – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        

        <h1 class="govuk-heading-l">Are you requesting a delay to your dossier submission?  </h1>

        

        {{ govukRadios({
          id: "requestDelay",
          name: "requestDelay",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              hint: {text:""}
              
            },   
            {
              value: "No",
              text: "No",
              hint: {text:" "}
             
            }
            
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}