{% extends "layouts/main.html" %}

{% block pageTitle %}
Proposed use information – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <h1 class="govuk-heading-l">Proposed use information </h1>
        <p>You will be asked questions about the proposed use of the product.  </p>
        <p>As you are changing or adding a use or claim, only enter the relevant changes or additions. These will be assessed in addition to those already authorised. </p>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}