{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you the authorisation holder?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      

      <form class="form" method="post">
        
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

      {# <span class="govuk-caption-l">Application</span> #}

      <h1 class="govuk-heading-l">
        Are you the authorisation holder? 
      </h1>


      {# data-required data-error="Select the type of procedure you want to use" aria-required="true" #}

{% set textHtml %}
{{ govukInput({
  id: "applicantType",
  name: "applicantType",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  hint:  {text: "For example, ‘Authorised agent of authorisation holder’"},
  label: {
    text: "Enter your role "
  }
}) }}
{% endset -%}

{{ govukRadios({
  id: "applicantType",
  name: "applicantType",
  fieldset: {
    hint:  {text: "For example, ‘Authorised agent of authorisation holder’"},
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: false,
      conditional: {
        html: emailHtml
      }
    },   
    {
      value: "No",
      text: "No - but I'm authorised to act on their behalf"
    }
  ]
}) }}

    
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
