{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the market area for your product?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        {% set textHtml %}
        {{ govukInput({
        id: "applicantType",
        name: "applicantType",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Give details"
        }
        }) }}
        {% endset -%}

        <h1 class="govuk-heading-l">Where do you want the authorisation for this product to apply? </h1>

        {% set textHtml %}
        {{ govukInput({
          id: "applicantType",
          name: "applicantType",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Give details"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          id: "marketArea",
          name: "marketArea",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Great Britain",
              text: "Great Britain (England, Scotland and Wales)",
              hint: {text:"All active substance sources must have a technical equivalence assessment from Great Britain (you can apply for this as part of this application)"}
              
            },   
            {
              value: "Northern Ireland",
              text: "Northern Ireland (mutual recognition)",
              hint: {text:"All active substance sources must have been considered technically equivalent by an EU member state. Details must be provided as part of this application.  "}
             
            },   
            {
              value: "Great Britain and Northern Ireland",
              text: "Great Britain and Northern Ireland",
              hint: {text:"All active substance sources must have a technical equivalence assessment from Great Britain (you can apply for this as part of this application) and a technical equivalence assessment from an EU member state. Details must be provided as part of this application. "}
             
            }
            
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}