{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the reference product details – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      <h1 class="govuk-heading-l">Enter the reference product details</h1>

      {{ govukInput({
        label: {
          text: "Product name",
          classes: "govuk-label?--l",
          isPageHeading: true
        },
        id: "documentsReferenceProductName",
        name: "documentsReferenceProductName"
      }) }}

      {{ govukInput({
        label: {
          text: "MAPP number",
          classes: "govuk-label?--l",
          isPageHeading: true
        },
        id: "documentsReferenceProductMapp",
        name: "documentsReferenceProductMapp"
      }) }}

      {{ govukInput({
        label: {
          text: "Authorisation holder",
          classes: "govuk-label?--l",
          isPageHeading: true
        },
        id: "documentsReferenceProductAuthHolder",
        name: "documentsReferenceProductAuthHolder"
      }) }}

      {{ govukInput({
        label: {
          text: "Marketing company",
          classes: "govuk-label?--l",
          isPageHeading: true
        },
        id: "documentsReferenceProductMarketingCo",
        name: "documentsReferenceProductMarketingCo"
      }) }}

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>
  </div>
</div>
{% endblock %}