{% extends "layouts/main.html" %}

{% block pageTitle %}
ow many manufacturing sites exist for [Substance name]?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How many manufacturing sites (sources) exist for this substance?</h1>

      <div class="govuk-inset-text">
      Active substance name: <strong>{{ data['formulaActiveSubstanceName'] or 'Azoxystrobin' }}
          {{ data['formulaTypeAddReference'] or 'CAS' }}: {{ data['formulaTypeAdd' + data['formulaTypeAddReference'] or 'CAS' + 'Reference'] or '131860-33-8' }}</strong>
      </div>

      <form class="form" method="post">

        {% call govukFieldset({
        legend: {
          text: "",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: true
        }
        }) %}

        {{ govukInput({
          label: {
            text: 'Number of sites'
          },
          classes: "govuk-input--width-10",
          hint: {
          text: ""
        },
          id: "formulaOtherSubstanceTradeName",
          name: "formulaOtherSubstanceTradeName"
        }) }}
        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>
{% endblock %}