{% extends "layouts/main.html" %}

{% block pageTitle %}
Product data owner [X] details – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <span class="govuk-caption-l">Data ownership: Product data </span>
        <h1 class="govuk-heading-l">Product data owner [X] details </p>

        <p>Enter details of the product data owner. You can add more product owners later if you need to.  </p>

        <h2 class="govuk-heading-m">Specific type of data  </h2>

        {{ govukInput({
          label: {
            text: 'Enter data type '
          },
          hint: {
            text: "For example, ‘residues’, ‘efficacy’ "
          },
          id: "formulaProductOwnershipDataType",
          name: "formulaProductOwnershipDataType",
          autocomplete: "formulaProductOwnershipDataType"
        }) }}

        <h2 class="govuk-heading-m">Name of data owner  </h2>

        {{ govukInput({
          label: {
            text: 'Enter name '
          },
          id: "formulaProductOwnershipName",
          name: "formulaProductOwnershipName",
          autocomplete: "formulaProductOwnershipName"
        }) }}

        <h2 class="govuk-heading-m">How will you demonstrate access to the data in this application?  </h2>

        {{ govukCheckboxes({
          id: "formulaProductOwnershipAccess",
          name: "formulaProductOwnershipAccess",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Letter of access to be provided in this application ",
              text: "Letter of access to be provided in this application "

            },   
            {
              value: "Letter of access provided previously",
              text: "Letter of access provided previously "
            },   
            {
              value: "Letter of access sent by third party ",
              text: "Letter of access sent by third party  "
            },  
            {
              value: "Access not required or data protection expired  ",
              text: "Access not required or data protection expired  "
            }

          ]
        }) }}

        {{ govukTextarea({
          label: {
            text: 'Enter additional supporting information (optional) '
          },
          hint: {
            text: "For example, study titles "
          },
          id: "formulaProductOwnershipMoreInfo",
          name: "formulaProductOwnershipMoreInfo",
          autocomplete: "formulaProductOwnershipMoreInfo"
        }) }}

        <h2 class="govuk-heading-m">Do you want to add another data owner? </h2>

        {{ govukRadios({
          id: "addFormulaProductOwnership",
          name: "addFormulaProductOwnership",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes ",
              text: "Yes "
            },   
            {
              value: "No",
              text: "No "
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}