{% extends "layouts/main.html" %}

{% block pageTitle %}
What are the content values? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application details</span> #}
      <h1 class="govuk-heading-l">What are the content values?</h1>


 {% from "govuk/components/input/macro.njk" import govukInput %}
 {{ govukInput({
  label: {
    text: "Density concentration content value"
  },
  suffix: {
    text: "(g/l)"
  },
  classes: "govuk-input--width-5",
  id: "formulaOtherSubstanceContentValueLiquid",
  name: "formulaOtherSubstanceContentValueLiquid"
}) }}

{{ govukInput({
  label: {
    text: "Mass concentration content value"
  },
  suffix: {
    text: "(% w/v)"
  },
  classes: "govuk-input--width-5",
  id: "formulaOtherSubstanceContentValue",
  name: "formulaOtherSubstanceContentValue"
}) }}    

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
