{% extends "layouts/main.html" %}

{% block pageTitle %}
Add another component  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application details</span> #}
      

      <h1 class="govuk-heading-xl">You have added [X] [substance/substances] </h1>
      <div class="govuk-form-group">
      <h2 class="govuk-heading-m">[Substance name]</h2>
        <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              [Substance chemical name 1]
            </dt>
            <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="formula-substance-remove"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Substance chemical name</span></a></li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              [Substance chemical name 2]
            </dt>
            <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Michael Cain</span></a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="formula-substance-remove"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Substance chemical name</span></a></li>
              </ul>
            </dd>
          </div>
         
        </dl>
      
      </div>
      <form method="post" novalidate action="">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you need to add another substance? 
            </legend>
            {# <div id="add-another-hint" class="govuk-hint">
              You must tell us about all your directors.
            </div> #}
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="add-another">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="add-another-2">
                  No
                </label>
              </div>
            </div>
      
          </fieldset>
        </div>
      
        

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}