{% extends "layouts/main.html" %}

{% block pageTitle %}
5-batch analysis data owner – Manage building control for a higher-risk building – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Application</span> #}
<h1 class="govuk-heading-l">Who is the 5-batch analysis data owner?
   {# {{ data['applicationCompanyName'] or "[Applicant organisation name]" }} #}
  </h1>

  <div class="govuk-inset-text">
    Active substance name: <strong>{{ data['formulaActiveSubstanceName'] or 'Azoxystrobin' }} {{ data['formulaTypeAddReference'] or 'CAS' }}: {{ data['formulaTypeAdd' + data['formulaTypeAddReference'] or 'CAS' + 'Reference'] or '131860-33-8' }}</strong>
  </div>

{# <p> Type part of the organisation name and select it from the list. If the full name does not show, enter it manually. </p>  #}

      

      <form class="form" method="post">

        
        

        {% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% call govukFieldset({
  legend: {
    text: "",
    
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}
  {{ govukInput({
    label: {
      text: 'Organisation name'
    },
    hint: {
    text: "Type part of the organisation name and select it from the list. If the full name does not show, enter it manually."
  },
    id: "applicationCompanyName",
    name: "applicationCompanyName",
    autocomplete: "address-line1"
  }) }}
  

    
{% endcall %}
       

    

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  

{% endblock %}
