{% extends "layouts/main.html" %}

{% block pageTitle %}
Active substance source data owner details – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      <span class="govuk-caption-l">Data ownership: Active substance source data </span>
      <h1 class="govuk-heading-l">Active substance source data owner details  </p>

<p>[Active substance name]  </p>
<p>Add details of a data owner for this active substance source. You can add more sources later if you need to.  </p>

  <h2 class="govuk-heading-m">Name of data owner </h2>
  
  {{ govukInput({
    label: {
      text: 'Enter name'
    },
    hint: {
    text: "  "
  },
    id: "formulaActiveSubstanceSourceName",
    name: "formulaActiveSubstanceSourceName",
    autocomplete: "address-line1"
  }) }}


  <h2 class="govuk-heading-m">Reference to ongoing or existing application (optional)  </h2>
  
  {{ govukInput({
    label: {
      text: 'Enter reference'
    },
    hint: {
    text: "For example, job number, product name or MAPP number  "
  },
    id: "formulaActiveSubstanceRef",
    name: "formulaActiveSubstanceRef",
    autocomplete: "formulaActiveSubstanceRef"
  }) }}



  <h2 class="govuk-heading-m">Do you know the manufacturing site address for this source?  </h2>

  {{ govukRadios({
    id: "formulaActiveSourceDataOwnerAddress",
    name: "formulaActiveSourceDataOwnerAddress",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: false
      },   
      {
        value: "No",
        text: "No"
      }
  
    ]
  }) }}

  <h2 class="govuk-heading-m">How will you demonstrate access to the active substance source data in this application? </h2>

  <p>Letters of access must be valid and relevant to this application.  </p>

{{ govukCheckboxes({
  id: "formulaActiveSourceDataOwnerLetters",
  name: "formulaActiveSourceDataOwnerLetters",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "Letter of access to be provided in this application",
      text: "Letter of access to be provided in this application"
      
    },   
    {
      value: "Letter of access provided previously",
      text: "Letter of access provided previously"
    },   
    {
      value: "Letter of access provided by a third party",
      text: "Letter of access provided by a third party"
    }

  ]
}) }}









        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
