{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us about your formula composition – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application details</span> #}
      <h1 class="govuk-heading-l">Component [X] details </p>

<p>Enter the details of the component in your mixture.   </p>

{# <p>[Active substance name: 
  <strong>Azoxystrobin
  CAS: 131860-33-8</strong>]</p> #}

  <h2 class="govuk-heading-m">Trade name </h2>
  
  {{ govukInput({
    label: {
      text: 'Enter trade name '
    },
    hint: {
    text: "If you have more than one, separate each one with a comma. For example ‘Apples 10’, ‘Pears 50’. "
  },
    id: "formulaActiveSubstanceName",
    name: "formulaActiveSubstanceName",
    autocomplete: "formulaActiveSubstanceName"
  }) }}

  <h2 class="govuk-heading-m">Chemical name </h2>
  
  {{ govukInput({
    label: {
      text: 'Enter chemical name '
    },
    hint: {
    text: "Type part of the substance name and select it from the list. If the full name does not show, enter it manually.  "
  },
    id: "formulaActiveSubstanceChemicalName",
    name: "formulaActiveSubstanceChemicalName",
    autocomplete: "formulaActiveSubstanceChemicalName"
  }) }}



<h2 class="govuk-heading-m">Reference number </h2>

{% set CAS %}
{{ govukInput({
  id: "formulaTypeAddCASReference",
  name: "formulaTypeAddCASReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}
{% set EC %}
{{ govukInput({
  id: "formulaTypeAddECReference",
  name: "formulaTypeAddECReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}
{% set ELINCS %}
{{ govukInput({
  id: "formulaTypeAddELINCSReference",
  name: "formulaTypeAddELINCSReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}
{% set EINECS  %}
{{ govukInput({
  id: "formulaTypeAddEINECSReference",
  name: "formulaTypeAddEINECSReference",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}

{{ govukRadios({
  id: "formulaTypeAddReference",
  name: "formulaTypeAddReference",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "CAS",
      text: "CAS number",
      conditional: { html: CAS }
    },   
    {
      value: "EC",
      text: "EC number",
      conditional: { html: EC }
    }
    ,   
    {
      value: "ELINCS",
      text: "ELINCS number",
      conditional: { html: ELINCS }
    }
    ,   
    {
      value: "EINECS",
      text: "EINECS number",
      conditional: { html: EINECS }
    }

  ]
}) }}

<h2 class="govuk-heading-m">Content composition in mixture</h2>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Enter content "
  },
  classes: "govuk-input--width-5",
  id: "weight",
  name: "weight",
  suffix: {
    text: "%"
  },
  spellcheck: false
}) }}






        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
