{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers formula composition – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
        <h1 class="govuk-heading-xl">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Formulation composition 
          </dt>
            <dd class="govuk-summary-list__value">
            50% {{ data['formulaActiveSubstanceName'] or 'Azoxystrobin' }}
              {{ data['formulaTypeAdd' + data['formulaTypeAddReference'] or 'CAS' + 'Reference'] or '131860-33-8' }}</br>
            25% Substance 2<br>
            25% Substance 3<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="test-formula-composition-add-another">
              Change
              <span class="govuk-visually-hidden">Formulation composition</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are all active substances low risk?   
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['formulaRisk'] or 'Yes'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="formula-risk">
              Change
              <span class="govuk-visually-hidden">Are all active substances low risk? </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are all co-formulants low risk? 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['productRisk'] or 'Yes'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="formula-risk-co-formulant">
              Change
              <span class="govuk-visually-hidden"> Are all co-formulants low risk? </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            5-batch data 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['formulaActiveSubstanceDataOwnerSpecUpload'] or 'azoxystrobin-131860-33-8.csv'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="test-formula-active-substance-five-batch-source-upload">
              Change
              <span class="govuk-visually-hidden">Specification/5 batch analysis data upload</span>
            </a>
          </dd>
        </div>
      </dl>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

      <p>
        <a href="#">View application progress</a>
      </p>

    </form>
  </div>
</div>
{% endblock %}