{% extends "layouts/main.html" %}

{% block pageTitle %}
Trade name for {{ data['formulaActiveSubstanceName'] or 'Substance123'}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What is the trade name for {{ data['formulaActiveSubstanceName'] or 'Substance123'}}?</h1>
      <form class="form" method="post">

        {% call govukFieldset({
        legend: {
          text: "",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
        }) %}
        {{ govukInput({
          label: {
            text: 'Trade name'
          },
          hint: {
            text: "Enter at least one trade name. If you have more than one, separate each one with a comma. For example ‘Apples 10’, ‘Pears 50’. "
          },
          id: "formulaOtherSubstanceTradeName",
          name: "formulaOtherSubstanceTradeName"
        }) }}
        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>
{% endblock %}