{% extends "layouts/main.html" %}

{% block pageTitle %}
Is {{ data['formulaActiveSubstanceName'] or 'Substance123'}} a mixture? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application details</span> #}
      <h1 class="govuk-heading-l">Is {{ data['formulaActiveSubstanceName'] or 'Substance123'}} a mixture?</p>

      {# <p>Enter the details of the substance in your formulation. You can add another substance later if you need to.  </p> #}

      {# <p>[Active substance name: 
        <strong>Azoxystrobin
        CAS: 131860-33-8</strong>]</p> #}

{# <h2 class="govuk-heading-m">Reference number </h2> #}

      {% set Yes %}
        {{ govukInput({
          id: "formulaSubstanceNumberComponents",
          name: "formulaSubstanceNumberComponents",
          label: {text: "Number of components in the mixture ", classes: "govuk-label--s"},
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third"
        }) }}
      {% endset -%}

      {{ govukRadios({
        id: "formulaSubstanceMixture",
        name: "formulaSubstanceMixture",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: { html: Yes }
          },   
          {
            value: "No",
            text: "No"
          }

        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}