{% extends "layouts/main.html" %}

{% block pageTitle %}
Active substances in your formula – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Application</span> #}
<h1 class="govuk-heading-l">What are the active substances in your formula
   {# {{ data['applicationCompanyName'] or "[Applicant organisation name]" }} #}
  </h1>

<p>  </p> 

      

      <form class="form" method="post">

        
        

        {% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% call govukFieldset({
  legend: {
    text: "",
    
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}
  {{ govukInput({
    label: {
      text: ''
    },
    hint: {
    text: "Type part of an active substance name, CAS or EC number. If there are multiple, you will be asked if you want to add another."
  },
    id: "formulaActiveSubstanceName",
    name: "formulaActiveSubstanceName",
    autocomplete: "address-line1"
  }) }}
  

    
{% endcall %}
       

    

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  

{% endblock %}
