{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers usage – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        <h1 class="govuk-heading-xl">Check your answers</h1>
        <h2 class="govuk-heading-m">Proposed use</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Product name and code
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['productName'] or '[product name]'}}
              {{ data['productCode'] or '[code]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="product-name">
              Change
              <span class="govuk-visually-hidden">Product name and code</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           Who will use the product
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['intendedProductUser '] or '[product user]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="product-use">
              Change
              <span class="govuk-visually-hidden"> Who will use the product</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Proposed field of use
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['productProposedUse'] or '[field of use]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="product-proposed-use">
              Change
              <span class="govuk-visually-hidden"> Proposed field of use</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Seed treatment
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['isProductSeedTreatment'] or '[Seed treatment]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="product-use-seed-treatment">
              Change
              <span class="govuk-visually-hidden"> Seed treatmentSeed treatment</span>
              </a>
            </dd>
          </div>

          {% if data['isGapCsvUpload'] == "Yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Proposed use upload
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['xxx'] or '[Proposed use document]'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="gap-csv-1">
                Change
                <span class="govuk-visually-hidden"> Proposed use upload</span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>

        
        {% if data['isGapCsvUpload'] == "No" and data['isProductSeedTreatment'] == "No" %}
        <h2 class="govuk-heading-m">Crop and product use</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Crop used
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['cropUsed'] or '[crop used]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-crop-product">
              Change
              <span class="govuk-visually-hidden">Crop used</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Crop qualifier
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['cropQualifier'] or '[crop qualifier]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-crop-product">
              Change
              <span class="govuk-visually-hidden">Crop qualifier</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Type of pest, disease or week control
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['cropControl'] or '[crop control]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-crop-product">
              Change
              <span class="govuk-visually-hidden">Crop qualifier</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Crop location
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapCropLocation'] or '[crop location]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-crop-product">
              Change
              <span class="govuk-visually-hidden">Crop location</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Height of application
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapCropApplicationHeight'] or '1.2'}}{{ data['gapCropApplicationUnit'] or 'm' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-crop-product">
              Change
              <span class="govuk-visually-hidden">Height of application</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Number of crops per year
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapCropNumberPerYear'] or '[crop number per year]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-crop-product">
              Change
              <span class="govuk-visually-hidden">Number of crops per year</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Product dosage</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Maximum individual dose of active substance
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapDosageMaxActiveSubstance'] or '50'}}
              {{ data['gapDosageMaxActiveSubstanceUnit'] or 'kilograms per hectare (kg/ha)'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Individual dose of active substance</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Maximum individual dose of product
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapDosageMaxProduct'] or '10'}}
              {{ data['gapDosageMaxProduct'] or 'kilograms per hectare (kg/ha)'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Maximum individual dose of product</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Maximum total dose of active substance
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapDosageMaxTotalActiveSubstance'] or '500'}}
              {{ data['gapDosageMaxTotalActiveSubstanceUnit'] or 'kilograms per hectare (kg/ha)'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Maximum total dose of active substance</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Maximum total dose of product
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapDosageMaxTotalProduct'] or '100'}}
              {{ data['gapDosageMaxTotalProductUnit'] or 'kilograms per hectare (kg/ha)'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Maximum total dose of product</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Minimum water volume
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['proposedUseWaterMin'] or '25'}} litres per hectare (l/ha)
          </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Minimum water volume</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Maximum water volume
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['proposedUseWaterMax'] or '75'}} litres per hectare (l/ha)
          </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Maximum water volume</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Minimum in-use concentration
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['proposedUseConcentrationMin'] or '10'}}
              {{ data['proposedUseConcentrationMinUnit'] or 'litres per hectare (l/ha)' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Minimum in-use concentration</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Product application timings</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Maximum individual dose of active substance
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapDosageMaxActiveSubstance'] or '50'}}
              {{ data['gapDosageMaxActiveSubstanceUnit'] or 'kilograms per hectare (kg/ha)'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-dosage">
              Change
              <span class="govuk-visually-hidden">Individual dose of active substance</span>
              </a>
            </dd>
          </div>
        </dl>
        {% endif %}

        {% if data['isGapCsvUpload'] == "No" and data['isProductSeedTreatment'] == "Yes" %}
        <h2 class="govuk-heading-m">Seed treatment details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Crop used
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapCropUsed'] or '[crop used]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment">
              Change
              <span class="govuk-visually-hidden">Crop used</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Seed pelleted
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedPelleted'] or '[pelleted]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment">
              Change
              <span class="govuk-visually-hidden">Seed pelleted</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Seed weight
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedWeight'] or '[seed weight]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment">
              Change
              <span class="govuk-visually-hidden">Seed weight</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Thousand seed weight
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedWeightThousand'] or '[thousand seed weight]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment">
              Change
              <span class="govuk-visually-hidden">Thousand seed weight</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Seed treatment application</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Application method
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentDesc'] or '[application method]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-application">
              Change
              <span class="govuk-visually-hidden">Application method</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Product per hectare
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentProductPerHectare'] or '[product per hectare]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-application">
              Change
              <span class="govuk-visually-hidden">Product per hectare</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Product per 100,000 seeds
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentProductPer100000'] or '[product per 100,000 seeds]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-application">
              Change
              <span class="govuk-visually-hidden">Product per 100,000 seeds</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Application rate to seeds
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentRateToSeeds'] or '[rate to seeds]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-application">
              Change
              <span class="govuk-visually-hidden">Application rate to seeds</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Concentration on seeds
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentConcentrationOnSeeds'] or '[rate to seeds]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-application">
              Change
              <span class="govuk-visually-hidden">Concentration on seeds</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Seed sowing and growth</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Seeds per hectare
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentSowingDensity'] or '[Seeds per hectare]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-growth">
              Change
              <span class="govuk-visually-hidden">Seeds per hectare</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Depth of seed sowing
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentSowingDepth'] or '[seed sowing depth]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-growth">
              Change
              <span class="govuk-visually-hidden">Depth of seed sowing</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Number of crops on the same land within a given year
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentSowingNumCrops'] or '[num of crops per year]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-growth">
              Change
              <span class="govuk-visually-hidden">Number of crops on the same land within a given year</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Additional information
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentSowingMoreInfo'] or '[additional info]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-growth">
              Change
              <span class="govuk-visually-hidden">Additional information</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Seed precision-drilled
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentSowingDrilled'] or '[precision drilled]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-growth">
              Change
              <span class="govuk-visually-hidden">Seed precision-drilled</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Sown under protection
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentSowingUnderProtection'] or '[Sown under protection]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-growth">
              Change
              <span class="govuk-visually-hidden">Sown under protection</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Protection removed or the seedlings transported outside
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gapSeedTreatmentSowingStageRemoved'] or '[Growth stage]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="gap-seed-treatment-growth">
              Change
              <span class="govuk-visually-hidden">Sown under protection</span>
              </a>
            </dd>
          </div>
        </dl>

        {% endif %}

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

        <p>
          <a href="#">View application progress</a>
        </p>

      </form>
    </div>
  </div>
{% endblock %}