{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers marketing company – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        <h1 class="govuk-heading-xl">Check your answers</h1>
        <h2 class="govuk-heading-m">Marketing Company</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['marketingCompanyName'] or '[marketing company name]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
              Change
              <span class="govuk-visually-hidden">Name of client organisation</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Registered address
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['marketingCompanyAddress'] or '17 Wellborough Street, London, W11 7PP'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
              Change
              <span class="govuk-visually-hidden"> Client registered address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Company registration number
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['marketingCompanyRegistration'] or '[marketing company reg number]'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
              Change
              <span class="govuk-visually-hidden"> Client registered address</span>
              </a>
            </dd>
          </div>
        </dl>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

        <p>
          <a href="#">View application progress</a>
        </p>

      </form>
    </div>
  </div>
{% endblock %}