{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers container details – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        <h1 class="govuk-heading-xl">Check your answers</h1>

        <h2 class="govuk-heading-m">Packaging and labels</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Number of containers
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['numContainers'] or '1'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="packaging-number-of">
              Change
              <span class="govuk-visually-hidden">Number of containers</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Volume range for container type
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['containerVolumeFrom'] or '10'}}
              {{ data['containerVolumeFromUnit'] or 'gram (g)'}} to {{ data['containerVolumeTo'] or '50'}}
              {{ data['containerVolumeToUnit'] or 'gram (g)'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="packaging-x-details">
              Change
              <span class="govuk-visually-hidden">Volume range for container type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Product container type
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['productContainerType'] or 'Box'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="packaging-x-details">
              Change
              <span class="govuk-visually-hidden">Product container type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Packaging material
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['productPackagingMaterial'] or 'Cardboard'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="packaging-x-details">
              Change
              <span class="govuk-visually-hidden">Packaging material</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Other pack material
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['productPackagingMaterialOther'] or ''}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="packaging-x-details">
              Change
              <span class="govuk-visually-hidden">Other pack material</span>
              </a>
            </dd>
          </div>
        </dl>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

        <p>
          <a href="#">View application progress</a>
        </p>

      </form>
    </div>
  </div>
{% endblock %}