{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the earliest and latest time of application? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      

      <form class="form" method="post">

      {# <span class="govuk-caption-l">Application</span> #}

      <h1 class="govuk-heading-l">
        What is the earliest and latest time for application of the product?
      </h1>

      <p class="govuk-hint">Provide a date and BBCH code for each.</p>

      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "Earliest time"
          }
        },
        hint: {
          text: ""
        }
      }) }}
      
      {{ govukInput({
        classes:"govuk-input--width-10",
        label: {
          text: "Earliest BBCH code",
          classes: "govuk-label?--l",
          isPageHeading: true
        },
        hint: {
          text: ""
        },
        id: "proposedUseActiveMaxTotalDose",
        name: "proposedUseActiveMaxTotalDose"
      }) }}

      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "Latest time"
          }
        },
        hint: {
          text: ""
        }
      }) }}
      
      {{ govukInput({
        classes:"govuk-input--width-10",
        label: {
          text: "Latest BBCH code",
          classes: "govuk-label?--l",
          isPageHeading: true
        },
        hint: {
          text: ""
        },
        id: "proposedUseActiveMaxTotalDose",
        name: "proposedUseActiveMaxTotalDose"
      }) }}

{# {{ govukInput({
  label: {
    text: "Company product code",
    classes: "govuk-label?--l",
    isPageHeading: true
  },
  hint: {
    text: ""
  },
  id: "productCode",
  name: "productCode"
}) }} #}

    
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
