{% extends "layouts/main.html" %}

{% block pageTitle %}
Trade name for [Substance name]  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Application</span> #}
<h1 class="govuk-heading-l">What is the trade name for [Substance name]?
   {# {{ data['applicationCompanyName'] or "[Applicant organisation name]" }} #}
  </h1>

{# <p class="hint">Enter at least one trade name. If you have more than one, separate each one with a comma. For example ‘Apples 10’, ‘Pears 50’.  </p> #}


      <form class="form" method="post">

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% call govukFieldset({
  legend: {
    text: "",
    
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}
  {{ govukInput({
    label: {
      text: 'Trade name'
    },
    hint: {
    text: "Enter at least one trade name. If you have more than one, separate each one with a comma. For example ‘Apples 10’, ‘Pears 50’. "
  },
    id: "formulaOtherSubstanceTradeName",
    name: "formulaOtherSubstanceTradeName"
  }) }}
  

    
{% endcall %}
       

    

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  

{% endblock %}
