{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the formulation type?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

      {# <span class="govuk-caption-l">Formulation composition</span> #}
      <h1 class="govuk-heading-l">What is the formulation type? </p>

      <p>Provide the international formulation code and full description    </p>

{# <p>[Active substance name: 
  <strong>Azoxystrobin
  CAS: 131860-33-8</strong>]</p> #}
  
  {{ govukInput({
    label: {
      text: 'Enter formulation type '
    },
    hint: {
    text: "For example, AE Aerosol dispenser"
  },
    id: "formulationType",
    name: "formulationType",
    autocomplete: "formulationType",
    classes: "govuk-!-width-three-quarters"
  }) }}




        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>
{% endblock %}