{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you starting a new application? – {{serviceName}} – GOV.UK 
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">     
      <form class="form" method="post">

      {{ govukRadios({
        name: "applicationReference",
        id: "applicationReference",
        fieldset: {
          legend: {
            text: "Are you starting a new application?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No – I want to continue an application I've already started "
          }
        ]
      }) }} 

    

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
