{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {# {% include "govuk-prototype-kit/includes/homepage-top.njk" %} #}

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">GLOBAL LINK - User Research</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
         
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Details</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         
          <td class="govuk-table__cell"><a href="start">Latest</a></td>
          <td class="govuk-table__cell">Latest version for testing</td>
        </tr>

        </tbody>
        </table>

    <table class="govuk-table">
      <h2 class="govuk-heading-m">CRD1</h2>
      <p>Apply for authorisation of a new PPP</p>
      {# <caption class="govuk-table__caption govuk-table__caption--m">CRD1 - Apply for authorisation of a new PPP</caption> #}
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Details</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">06/11/23</th>
          <td class="govuk-table__cell"><a href="crd1/index-latest">Latest</a></td>
          <td class="govuk-table__cell">Latest version</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">06/11/23</th>
          <td class="govuk-table__cell"><a href="crd1/index-v4">Version 4</a></td>
          <td class="govuk-table__cell">Sprint 04 - CRD1 Application Journey</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">06/11/23</th>
          <td class="govuk-table__cell"><a href="crd1/index-v3">Version 3</a></td>
          <td class="govuk-table__cell">Sprint 03 - CRD1 Application Journey</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">23/10/23</th>
          <td class="govuk-table__cell"><a href="crd1/index-v2">Version 2</a></td>
          <td class="govuk-table__cell">Sprint 02 - CRD1 Application Journey</td>
        </tr>
        
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">16/10/23</th>
          <td class="govuk-table__cell"><a href="crd1/index-v1">Version 1</a></td>
          <td class="govuk-table__cell">Sprint 01 - New prototype setup and build</td>
        </tr>
       
        
      </tbody>
    </table>

    <table class="govuk-table">
      <h2 class="govuk-heading-m">CRD3</h2>
      <p>Apply for an extension of authorisation for minor use</p>
      {# <caption class="govuk-table__caption govuk-table__caption--m">CRD8 - Standalone consideration of the technical equivelance of a source of technical material outside of a product application. Great Britain only</caption> #}
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Details</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">06/11/23</th>
          <td class="govuk-table__cell"><a href="crd3/index-latest">Latest</a></td>
          <td class="govuk-table__cell">Latest version</td>
        </tr>

   
       
        
      </tbody>
    </table>
    

    <table class="govuk-table">
      <h2 class="govuk-heading-m">CRD8</h2>
      <p>Standalone consideration of the technical equivelance of a source of technical material outside of a product application. Great Britain only</p>
      {# <caption class="govuk-table__caption govuk-table__caption--m">CRD8 - Standalone consideration of the technical equivelance of a source of technical material outside of a product application. Great Britain only</caption> #}
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Details</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">06/11/23</th>
          <td class="govuk-table__cell"><a href="crd8/index-latest">Latest</a></td>
          <td class="govuk-table__cell">Latest version</td>
        </tr>

   
       
        
      </tbody>
    </table>


    {# {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} #}
  </div>
</div> 

{% endblock %}
