{% extends "layouts/main.html" %}

{% block pageTitle %}
Manage biocides and pesticides – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {# {{ serviceName }} #}
        Apply for authorisation of a new plant protection product 
      </h1>

      <p>Use this service to apply for authorisation of a new product.</p>







      <p>Use this service to:</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        Find out about the data and supporting information you need to provide for each product authorisation application type by reading <a href="#">HSE Pesticides - Product Authorisation (link opens in a new tab)</a>.
      </p>

      {# <h2 class="govuk-heading-m">
        You cannot use this service to
      </h2> #}

      <p>You cannot use this service to:</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>update or renew an existing authorisation  - instead, go to the <a href="#">Applications section</a> of the service
          </li>
        <li>submit any other type of application - find out about <a href="#">other application types (link opens in a new tab)</a></li>
      
      </ul>

      

      
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.hse.gov.uk/pesticides/pesticides-registration/index.htm">
                About product authorisation
              </a>
            </li>
            <li>
              <a href="#">
                Find technical guidance
              </a>
            </li>
            {# <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> #}
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
