{% extends "layouts/main.html" %}

{% block pageTitle %}

[Back] 

What type of product are you applying to authorise? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Building details</span> #}
      

      <form class="form" method="post">
        

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "applicationWhatAuthorisation",
          id: "applicationWhatAuthorisation",
          fieldset: {
            legend: {
              text: "What type of product are you applying to authorise?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          error: {
            text: "Select an option"
          },
          items: [
            {
              value: "CRD2",
              text: "Identical to another product",
              hint: {text: "A ‘back-to-back authorisation’ where active substance sources, formulation manufacturing site and formulation details are identical to the parent product"}
            },
            {
              value: "CRD1 ARTICLE34",
              text: "Comparable to an existing authorised product, which will be the single reference product "
            },
            
            {
              value: "CRD1",
              text: "Any other new product requiring a full technical assessment"
            }
          ]
        }) }} 

       {# CRD1 ARTICLE 33 / 47 #}


        {# {
          value: "CRX",
          text: "A change to an existing plant protection product authorisation (administrative) "
        }, #}
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
