{% extends "layouts/main.html" %}

{% block pageTitle %}
What are you applying to do? – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Building details</span> #}
      

      <form class="form" method="post">
        

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "applicationJourney",
          id: "applicationJourney",
          fieldset: {
            legend: {
              text: "What are you applying to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          error: {
            text: "Select an option"
          },
          items: [
            {
              value: "CRD1",
              text: "Authorisation of a new plant protection product "
            },
            {
              value: "CRX",
              text: "A change to an existing plant protection product "
            },
            {
              value: "CRX",
              text: "Renewal of an existing plant protection product "
            },
            {
              value: "CRX",
              text: "A change to an existing authorisation "
            },
            {
              value: "CRD3",
              text: "Extension of authorisation for minor use "
            },
            {
              value: "CRX",
              text: "A new, or change to an existing, inclusion on the ‘Official List’ of adjuvants "
            },
            {
              value: "CRD8",
              text: "Standalone technical equivalence "
            },
            {
              value: "CRX",
              text: "Emergency authorisation under Article 53 "
            },
            {
              value: "CRX",
              text: "For a new and amended Maxiumum Residue  Levels or import tolerances "
            }
          ]
        }) }} 

        
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
