{% extends "layouts/main.html" %}

{% block pageTitle %}

[Back] 

What change are you making to this product?   – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Building details</span> #}
      

      <form class="form" method="post">
        

        {% set emailHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contactByEmail",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter details "
          }
        }) }}
        {% endset -%}


        {{ govukRadios({
          name: "applicationWhatAuthorisationExisting",
          id: "applicationWhatAuthorisationExisting",
          fieldset: {
            legend: {
              text: "What change are you making to this product? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          error: {
            text: "Select an option"
          },
          items: [
            {
              value: "Change details",
              text: "Change of product information ",
              hint: {text: "Including trade name, authorisation holder or pack size "}
            },
            {
              value: "CRDR",
              text: "Renewal of a product authorisation"
            },
            {
              value: "CRD3",
              text: "Change of sources of technical material "
            },
            {
              value: "CRDW",
              text: "Commercial withdrawal of an authorised use  "
            },
            {
              value: "CRD3",
              text: "Extend identical changes from another authorised product ",
              hint: {text: "Formulation composition, manufacturing site and authorisation holder manufacturing the product must be identical to the existing product "}
            },
            {
              value: "Other",
              text: "Other  ",
              conditional: {
                html: emailHtml
              }
            }

          ]
        }) }} 

        {# {
          value: "CRX",
          text: "A change to an existing plant protection product authorisation (administrative) "
        }, #}

        {# {
          value: "CRDR",
          text: "Renewal of a product authorisation ",
          hint: {text: "Following renewed approval of an active substance ’ "}
        }, #}
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
