{% extends "layouts/main.html" %}

{% block pageTitle %}
WWhat is your application about?  – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Building details</span> #}
      

      <form class="form" method="post">
        

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "applicationJourney",
          id: "applicationJourney",
          fieldset: {
            legend: {
              text: "What is your application about?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          error: {
            text: "Select an option"
          },
          items: [
            {
              value: "CRD1",
              text: "A new product authorisation "
            },
            {
              value: "CRD1-CHANGE",
              text: "An existing authorised product ",
              hint: {text: "Including extension of minor use "}
            },
            
            {
              value: "CRX",
              text: "An emergency authorisation or plant health order "
            },
            {
              value: "CRD3",
              text: "A new active substance source that requires a standalone technical equivalence assessment in Great Britain  "
            },
            {
              value: "CRDMRL",
              text: "Maximum residue levels (MRLs) outside of a new product authorisation",
              hint: {text: "For example, import tolerances "}
            }
          ]
        }) }} 

        {# {
          value: "CRX",
          text: "A change to an existing plant protection product authorisation (administrative) "
        }, #}
        
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
