{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your telephone number?  – Manage building control for a higher-risk building – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What is your telephone number?</h1>
      <form class="form" method="post">

        {% call govukFieldset({
        legend: {
          text: "",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
        }) %}

        <p>We'll use this if we need to contact you about anything you tell us in this application.</p>

        {{ govukInput({
        name: "applicantTelephone",
        id: "applicantTelephone",
        classes: "govuk-input--width-20",
        label: {
          text: "Telephone number",
          classes: "",
          isPageHeading: true
        },
        hint: {
          text: "For international numbers include the country code."
        }
        }) }}

        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>
{% endblock %}