{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          },
          {
            href: "footer/contact-us",
            text: "Help"
          },
          {
            href: "stand-alone/privacy",
            text: "Privacy"
          },
          {
            href: "stand-alone/accessibility",
            text: "Accessiblility"
          },
          {
            href: "footer/cookies",
            text: "Cookies"
          },
          {
            href: "stand-alone/terms-and-conditions",
            text: "Terms and conditions"
          }
        ]
      }
    }) }}
{% endblock %}