{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [

          
          {
            href: "/manage-prototype/clear-data",
            text: "Clear data"
          },
          {
            href: "footer/contact-us",
            text: "Contact us"
          },
          {
            href: "footer/accessibility",
            text: "Accessibility"
          },
          {
            href: "footer/cookies",
            text: "Cookies"
          },
          {
            href: "footer/privacy",
            text: "Feedback"
          },
          {
            href: "footer/privacy",
            text: "Privacy"
          }
        ]
      }
    }) }}
{% endblock %}