{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Apply for authorisation of a new plant protection product</span>
      <h1 class="govuk-heading-l">
        [Job Number] and [Product name/code (when applicable)]
      </h1>

      {# <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Constructing a new higher-risk building (HRB)</h2> #}
      {# - Constructing a new higher-risk building  OR
         - Converting an existing building into a higher-risk building  OR
         - Work to an existing higher-risk building
         #}
         <p></p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of X sections.</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Returning to this application</h2>
      <p class="">We will save the information you give to us on each page.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">Your job number and instructions on how to return later have been sent to <strong>Rohima.begum@paconsulting.com</strong>.</p>

      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number"></span> Applicant information
      </h2>
      <ul class="app-task-list__items">
        
    
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="auth-holder-same" aria-describedby="company-information-status">
             Application information
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started yet</strong></li>
          
        </ul>
        
        
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number"></span> Product information
      </h2>
      <ul class="app-task-list__items">
        
    
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
            Authorised holder
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>
        
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
              Marketing company
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
              Product details
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong></li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
              Formulation composition
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
              Proposed and authorised uses
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
              Packaging
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
              Manufacturing site
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
        </li>
                
                    
      </ul>

      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number"></span> Documents
      </h2>
      <ul class="app-task-list__items">
        
    
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status"></a>
             Supporting documents
            
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong></li>
        </ul>
        

      {# <h2 class="app-task-list__section">
        <span class="app-task-list__section-number"></span> Dutyholders
      </h2>
      <ul class="app-task-list__items">
      
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="company-information-status"></a>
                       Client
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong></li>
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="#" aria-describedby="company-information-status"></a>
                         Principal designer
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong></li>
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="#" aria-describedby="company-information-status"></a>
                           Principal contractor
                          </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong></li>
      </ul> #}






           
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Declaration, payment details and submit
          </h2>
          <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
    
                Declaration
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
    
               Payment details and submit your application
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
          </li>  
      
        
            
          </ul>



          



<p> After you have paid your fee and applied, we will contact you. We may ask you for more information.</p>
{% endblock %}
